.alta {
    border-left-color: red;
}

.media {
    border-left-color: yellow;
}

.baixa {
    border-left-color: green;
}

li {
    margin-bottom: 10px;
    padding: 3px;
    border-left: 8px solid;
    border-radius: 8px;
    list-style: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}